* {
  box-sizing: border-box;
}
body {
  background-image: url(../images/bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.index-container {
  text-align: center;
  margin-top: 80px;
}
.index-container a {
  text-decoration: none;
  color: rgb(69, 70, 69);
}
.studio-fierte {
  color: rgb(43, 43, 43);
  font-family: 'Spinnaker';
  font-weight: bold;
  font-size: 35px;
  line-height: 50px
}
.archive {
  color: rgb(69, 70, 69);
  float: left;
  width: 50%;
  font-family: 'Teko';
  border-right: 0.1px solid rgb(69, 70, 69);
  font-size: 48px;
  margin-top: 100px;
}
.shop {
  color: rgb(69, 70, 69);
  float: left;
  width: 50%;
  font-family: 'Teko';
  font-size: 48px;
  margin-top: 100px;

}
.nav-archive {
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.nav-archive ul {
  display: inline;
  text-align: center;
  list-style: none;
}
.nav-archive ul li {
  display: inline-block;
  padding: 18px;
  font-size: 18px;
  font-family: 'Teko';
}
.nav-archive ul li:nth-child(1) {
  padding-left: 50px;
}
.nav-archive ul li a {
  text-decoration: none;
  color: black;
  transition-property: color;
  transition-duration:0.3s;
}
.nav-archive ul li a:hover {
  color: rgb(199, 199, 199);
}
.container-about {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 570px;
  font-size: 12px;
  font-weight: lighter;
  color: rgb(69, 70, 69);
}
.container-about img {
  width: 100%;
  filter: grayscale(100%);
}
.container-about span {
  line-height: 25px;
}
.container-artist {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 570px;
  font-size: 13px;
  text-align: center;
  color: rgb(69, 70, 69);
}
.container-artist .namecard a img {
  -webkit-filter: grayscale(100%);
-webkit-transition: 0.3s ease-in-out;
-moz-filter: grayscale(100%);
-moz-transition: 0.3s ease-in-out;
-o-filter: grayscale(100%);
-o-transition: 0.3s ease-in-out;

}
.container-artist .namecard a img:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.3s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: 0.3s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: 0.3s ease-in-out;
}
.container-artist .namecard div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-contact {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 570px;
  height: 320px;
  border: 1px solid rgb(199, 199, 199);
  color: rgb(43, 43, 43);
  font-family: 'Spinnaker';
  font-size: 13px;
}
.archive a {
  text-decoration: none;
  color: rgb(69, 70, 69);
  transition-property: color;
  transition-duration:0.3s;
}
.archive a:hover {
  color: rgb(199, 199, 199);
}
.shop a {
  text-decoration: none;
  color: rgb(69, 70, 69);
  transition-property: color;
  transition-duration:0.3s;
}
.shop a:hover {
  color: rgb(199, 199, 199);
}
.container-archive {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 570px;
  font-size: 13px;
  text-align: center;
  color: rgb(69, 70, 69);
}
.container-archive .archivecard a img {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.3s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: 0.3s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: 0.3s ease-in-out;
}
.container-archive .archivecard a img:hover {
  -webkit-filter: grayscale(100%);
-webkit-transition: 0.3s ease-in-out;
-moz-filter: grayscale(100%);
-moz-transition: 0.3s ease-in-out;
-o-filter: grayscale(100%);
-o-transition: 0.3s ease-in-out;
}
.container-archive .archivecard div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.shopnav-container {
  padding-top: 30px;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
  width: 100%;
  height: 240px;
  font-family: 'Spinnaker';
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  z-index: 1;

}
.shopnav {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  letter-spacing: 2px;
}
.shopnav-container .shopnav ul {
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Teko';
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.shopnav-container .shopnav ul li {
  float: left;
  padding: 18px;
  padding-top: 25px;
}
.shopnav-container .shopnav ul li:nth-child(1) {
  padding-left: 10px;
}
.shopnav ul li a, .shopnav-container a {
  text-decoration: none;
  color: black;
  transition-property: color;
  transition-duration:0.3s;
}
.shopnav ul li a:hover, .shopnav-container a:hover {
  color: rgb(199, 199, 199);
}
.shopbottom-container {
  width: 100%;
  height: 200px;
}
.bottom-banner {
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 40px;
  font-family: 'Spinnaker';
  font-weight: bold;
}
.bottom-banner a {
  text-decoration: none;
  color: black;
}
.bottom-location {
  padding-top: 20px;
  width: 35%;
  height: 100%;
  float: left;
  font-family: 'Teko';
  font-size: 15px;
}
.bottom-sns {
  padding-top: 20px;
  width: 35%;
  height: 60%;
  float: left;
  font-family: 'Teko';
  font-size: 15px;
  padding-left: 30px;

}
.bottom-sns a {
  text-decoration: none;
  color: black;
}
.product-container {
  width: 100%;
  font-family: 'Teko';
  float: left;
  z-index: 1;

}
.product-container .product-list {
  list-style: none;
}
.product-container .product-list li {
  width: 280px;
  height: 415px;
  float: left;
  margin-left: 90px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.product-container .product-list li img {
  width: 280px;
  height: 415px;
}
.product-container .product-list li p {
  margin-top: 8px;
  margin-bottom: 5px;
}
.product-container .product-list li a {
  text-decoration: none;
  color: rgb(65, 65, 65);
}
.menu {
  width: 100%;
  height: 0px;
  font-family: 'teko';
  font-size: 18px;
  position: fixed;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.menu a {
  text-decoration: none;

}
.menu ul {
  list-style: none;
}
.left-menu {
}
.right-menu {
  padding-right: 15px;
}
.brands-container {
  font-family: 'Teko';
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 240px;
  font-size: 18px;
  word-spacing: 5px;
}
.brands-container a {
  text-decoration: none;
  font-family: 'Teko';
  color: black;
}
.brands-container a:hover {
  text-decoration: underline;
}
.back {
  padding-left: 50px;
  padding-top: 60px;
  text-decoration: none;
  color: #AF0000;
  font-size: 12px;
  font-weight: bold;
}
